*{
    margin: 0;
    padding: 0;
}

nav{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu{
    display: flex;
    flex: 1;
    justify-content: center;
}

nav .menu{
    display: flex;
    list-style: none;
    gap: 51px;
    align-items: center;
}

nav .menu li a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}

nav .menu li a:hover{
    color: #209047;
    padding: auto;
}

.btn{
    padding: 10px 20px;
    background-color: #209047;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover{
    background-color: #3ff180;
    color: black;
}

#hero{
    position: relative;
    text-align: center;
    
}

.hero-div{
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 20px;
    margin: 0 auto;
}

.small-title{
    align-items: center;
    background: white;
    color: #209047;
    padding: 6px 14px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 600;
}

.hero-div h1{
    font-size: 48px;
    margin: 20px 0;
    color: #ffffff;
    font-weight: 700;
}

.green{
    color: #23cf5f;
}

.hero-div p{
    font-size: 14px;
    color: #ffffff;
    margin-bottom: 30px;
}

.buttons{
    display: flex;
    gap: 16px;
    justify-content: center;
}

.outline{
    background: transparent;
    border: 1px solid white;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
}

.outline:hover{
    background-color: rgb(60, 214, 147);
    color: black;
}

#Notes-Section{
    max-width: 1140px;
    margin: 80px auto;
    text-align: center;
    padding: 0 20px;
}

#Notes-Section h1{
    font-size: 36px;
    margin-bottom: 16px;
    color: #212121;
    font-weight: 700;
}

#Notes-Section p{
    font-size: 16px;
    color: #939090;
    margin-bottom: 30px;
}

.cards{
    display: flex;
    gap: 10px;
    justify-content: center;
}

.cards img{
    margin-bottom: 20px;
    background-color: rgb(232, 39, 5);
    border-radius: 25px;
    padding: 8px;
}
.card{
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    width: 250px;
}

.card h3{
    font-size: 20px;
    margin-bottom: 10px;
    color: #212121;
    font-weight: 600;
}   