*{
    margin: 0;
    padding: 0;
}

nav{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu{
    display: flex;
    flex: 1;
    justify-content: center;
}

nav .menu{
    display: flex;
    list-style: none;
    gap: 51px;
    align-items: center;
}

nav .menu li a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}

nav .menu li a:hover{
    color: #209047;
    padding: auto;
}

.btn{
    padding: 10px 20px;
    background-color: #209047;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover{
    background-color: #3ff180;
    color: black;
}

.hero{
    position: relative;
    text-align: center;
    
}

.hero-div{
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 20px;
    margin: 0 auto;
}

.small-title{
    align-items: center;
    background: white;
    color: #209047;
    padding: 6px 14px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 600;
}

.hero-div h1{
    font-size: 48px;
    margin: 20px 0;
    color: #ffffff;
    font-weight: 700;
}

.green{
    color: #23cf5f;
}

.hero-div p{
    font-size: 14px;
    color: #ffffff;
    margin-bottom: 30px;
}

.buttons{
    display: flex;
    gap: 16px;
}